.text-segment {
  cursor: pointer;
}

.text-segment.focused {
  text-decoration: underline !important;
}

.text-segment.locked {
  cursor: not-allowed;
}

.text-segment.related {
  -webkit-text-stroke: 1px black;
  background-color: yellow;
}

.text-segment.peripheral {
  text-decoration: underline;
  text-decoration-style: dotted;
}
