.editor-container {
  --night-background: black;
  --night-border-color: white;
  --night-drag-handle-color: white;
  --night-font-color: white;
  --night-unlinked-font-color: darkgrey;
  --night-selected-segment-background-color: white;
  --night-selected-segment-font-color: black;
  --night-syntax-label-background: #313537;

  --day-background: white;
  --day-border-color: black;
  --day-drag-handle-color: black;
  --day-font-color: black;
  --day-unlinked-font-color: dimgrey;
  --day-selected-segment-background-color: black;
  --day-selected-segment-font-color: white;
  --day-syntax-label-background: lightgrey;
}

::-webkit-scrollbar {
  width: 0;
}
